{
  "log": {
    "_recordingName": "buildCorpAndCloudWAFRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "556a3fcc8d26abfc35cb34522cd84237",
        "request": {
          "headers": [
            {
              "name": "x-api-user",
              "value": "[REDACTED]"
            },
            {
              "name": "x-api-token",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/corps/jupiterone/cloudwafInstances"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1661,
            "text": "{\"data\":[{\"id\":\"9adf79f2-6553-4008-a012-e2e78d1c40eb\",\"name\":\"testinstance\",\"description\":\"testinstance\",\"region\":\"us-east-1\",\"tlsMinVersion\":\"1.2\",\"workspaceConfigs\":[{\"siteName\":\"test\",\"instanceLocation\":\"direct\",\"clientIPHeader\":\"\",\"listenerProtocols\":[\"https\"],\"routes\":[{\"certificateIds\":[],\"domains\":[\"paradox-test.blogspot.com\"],\"origin\":\"https://paradox-test.blogspot.com/\",\"passHostHeader\":false,\"id\":\"4d14d79e-1f1b-4c8f-a662-1c07ff4c46db\",\"connectionPooling\":true,\"trustProxyHeaders\":false}]}],\"deployment\":{\"status\":\"done\",\"message\":\"\",\"egressIPs\":[{\"ip\":\"54.157.9.221\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.211.133.174\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"44.198.49.148\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.222.240.59\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"44.198.76.176\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"34.192.82.71\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.216.58.131\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"18.214.162.196\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"54.84.118.7\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"52.204.194.140\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.232.125.243\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"107.22.39.13\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"54.147.50.184\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"54.160.112.153\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.227.47.195\",\"status\":\"unknown\",\"updatedAt\":\"\"},{\"ip\":\"3.208.110.204\",\"status\":\"unknown\",\"updatedAt\":\"\"}],\"dnsEntry\":\"9adf79f2-6553-4008-a012-e2e78d1c40eb.sigscicloudwaf.com\"},\"useUploadedCertificates\":false,\"createdBy\":\"sam.andrus@jupiterone.com\",\"created\":\"2022-11-07T05:27:11Z\",\"updatedBy\":\"\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 991,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
