{
  "log": {
    "_recordingName": "buildCorpAndUserRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a0d858918dc7000c5fe61c66948ecc2e",
        "request": {
          "headers": [
            {
              "name": "x-api-user",
              "value": "[REDACTED]"
            },
            {
              "name": "x-api-token",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/corps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 435,
            "text": "{\"data\":[{\"name\":\"jupiterone\",\"displayName\":\"JupiterOne\",\"smallIconURI\":\"\",\"created\":\"2022-01-10T18:29:55Z\",\"siteLimit\":5,\"sites\":{\"uri\":\"/api/v0/corps/jupiterone/sites\"},\"authType\":\"builtin\",\"logoutURI\":\"\",\"samlCert\":\"\",\"samlEndpoint\":\"\",\"signRequestsUsingStoredCert\":false,\"samlRequestCert\":\"\",\"sessionMaxAgeDashboard\":2592000,\"apiAllowedIPs\":[],\"apiTokenMaxAge\":0,\"restrictedAccessTokens\":false,\"ssoProvisioningConfigured\":false}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      },
      {
        "_id": "a1ad97198eead933a970472a10fd77f9",
        "request": {
          "headers": [
            {
              "name": "x-api-user",
              "value": "[REDACTED]"
            },
            {
              "name": "x-api-token",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/corps/jupiterone/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2181,
            "text": "{\"data\":[{\"name\":\"Samuel Poulton Observer\",\"email\":\"samuel.poulton+sigsci_observer@jupiterone.com\",\"announcements\":{\"uri\":\"/api/v0/user/announcements\"},\"defaultDashboards\":{\"uri\":\"/api/v0/user/defaultDashboards\"},\"memberships\":{\"data\":[],\"uri\":\"/api/v0/corps/jupiterone/users/samuel.poulton+sigsci_observer@jupiterone.com/memberships\"},\"accessTokens\":{\"uri\":\"/api/v0/user/apitokens\"},\"role\":\"observer\",\"status\":\"active\",\"mfaEnabled\":false,\"corpAuthType\":\"builtin\",\"authStatus\":\"none\",\"created\":\"2022-01-19T21:49:48.458Z\",\"apiUser\":false,\"accessTokenAllowed\":true,\"ssoProvisioned\":false},{\"name\":\"Samuel Poulton\",\"email\":\"samuel.poulton@jupiterone.com\",\"announcements\":{\"uri\":\"/api/v0/user/announcements\"},\"defaultDashboards\":{\"uri\":\"/api/v0/user/defaultDashboards\"},\"memberships\":{\"data\":[],\"uri\":\"/api/v0/corps/jupiterone/users/samuel.poulton@jupiterone.com/memberships\"},\"accessTokens\":{\"uri\":\"/api/v0/user/apitokens\"},\"role\":\"owner\",\"status\":\"active\",\"mfaEnabled\":false,\"corpAuthType\":\"builtin\",\"authStatus\":\"none\",\"created\[...]
