{
  "log": {
    "_recordingName": "buildCorpAndUserRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a1ad97198eead933a970472a10fd77f9",
        "request": {
          "headers": [
            {
              "name": "x-api-user",
              "value": "[REDACTED]"
            },
            {
              "name": "x-api-token",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/corps/jupiterone/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2181,
            "text": "{\"data\":[{\"name\":\"Samuel Poulton Observer\",\"email\":\"samuel.poulton+sigsci_observer@jupiterone.com\",\"announcements\":{\"uri\":\"/api/v0/user/announcements\"},\"defaultDashboards\":{\"uri\":\"/api/v0/user/defaultDashboards\"},\"memberships\":{\"data\":[],\"uri\":\"/api/v0/corps/jupiterone/users/samuel.poulton+sigsci_observer@jupiterone.com/memberships\"},\"accessTokens\":{\"uri\":\"/api/v0/user/apitokens\"},\"role\":\"observer\",\"status\":\"active\",\"mfaEnabled\":false,\"corpAuthType\":\"builtin\",\"authStatus\":\"none\",\"created\":\"2022-01-19T21:49:48.458Z\",\"apiUser\":false,\"accessTokenAllowed\":true,\"ssoProvisioned\":false},{\"name\":\"Samuel Poulton\",\"email\":\"samuel.poulton@jupiterone.com\",\"announcements\":{\"uri\":\"/api/v0/user/announcements\"},\"defaultDashboards\":{\"uri\":\"/api/v0/user/defaultDashboards\"},\"memberships\":{\"data\":[],\"uri\":\"/api/v0/corps/jupiterone/users/samuel.poulton@jupiterone.com/memberships\"},\"accessTokens\":{\"uri\":\"/api/v0/user/apitokens\"},\"role\":\"owner\",\"status\":\"active\",\"mfaEnabled\":false,\"corpAuthType\":\"builtin\",\"authStatus\":\"none\",\"created\[...]
